@import "bootstrap";
@import "base";
@import "theme";
@import "module";
@import "state";
@import "module";

$main: #0000FF;

body {
	padding: 20px;
	color: $main;
}

img {
	@include transition(1s);
}

img:hover {
	@include rotate(45deg);
	@include opacity(.5);
}
