doctype html
html
	head
		title Title Site
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body#page-top(data-spy='scroll', data-target='.navbar-custom')
		section.intro
			.intro-body
				.container
					.row
						.col-md-8.col-md-offset-2
							h1.brand-heading Malik W. Dixon
							p.intro-text A free, premium quality, responsive one page Bootstrap theme created by Start Bootstrap.
							.page-scroll 
								a.btn.btn-circle(href='#about') 
								i.fa.fa-angle-double-down.animated
		nav.navbar.navbar-static(role='navigation')
			.container
				.navbar-header.navbar-static.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
					a.navbar-brand(href="page-top")
						i.fa.fa-play-circle
						span.light Start
						|  Bootstrap
		.collapse.navbar-collapse.navbar-main-collapse
			ul.nav.navbar-nav
				li.hidden
					a(href="#page-top")
				li.page-scroll
					a(href="#about") About
				li.page-scroll
					a(href="#download") Portfolio
				li.page-scroll
					a(href="#contact") Contact

		section#about.container.content-section.text-center
			.row
				.col-lg-8.col-lg-offset-2
					h2 About Me
					p 
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequawt.
					p 
						| This striking, black and white theme features stock photographs by
						a(href="http://gratisography.com")  Gratisography
						|  along with a custom Google Map skin courtesy of 
						a(href="//snazzymaps.com/") Snazzy Maps
						| .
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

		section#portfolio.content-section.text-center
			.download-section
				.container
					.col-lg-8.col-lg-offset-2
						h2 My Work
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 


		section#contact.content-section.text-center
			.download-section
				.container
					.col-lg-8.col-lg-offset-2
						h2 Contact me
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						ul.list-inline.banner-social-buttons
							li
								a.btn.btn-default.btn-lg(href="https://twitter.com/mdixon2009")
									i.fa.fa-twitter.fa-fw
									span.network-name Twitter
							li
								a.btn.btn-default.btn-lg(href="https//github.com/mdixon47") 
									i.fa.fa-github.fa-fw
									span.network-name Github
							li 
								a.btn.btn-default.btn-lg(href="#")
									i.fa.fa-google-plus.fa-fw
									span.network-name Google+						

		script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="js/main.js")
